<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750241320668-r1ihbh0rlp39ca2ib04a6kjvbgp653rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750241320668-r1ihbh0rlp39ca2ib04a6kjvbgp653rg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>750241320668-ro1kcgqsqhgkdqebpbtg98ct0fh9pflh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0aNw7lxMeioZf5WgJbwtLr74Vgj6O1ds</string>
	<key>GCM_SENDER_ID</key>
	<string>750241320668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.easy2eat.co</string>
	<key>PROJECT_ID</key>
	<string>easy2eat-5d586</string>
	<key>STORAGE_BUCKET</key>
	<string>easy2eat-5d586.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750241320668:ios:812678a843b8d701506e19</string>
</dict>
</plist>